LM/xsd/ejg1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="ciudades">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ciudad" type="xs:string"/>
        <xs:element name="numHabitantes" type="xs:integer"/>
        <xs:element name="comunidadAut" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
